.app__aboutus{
    position: relative;
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #050404fa;
    
}
.app__aboutus-overlay {
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
padding: 80px 5px;
scroll-behavior: smooth;
}
.app__aboutus-content-about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:0  3rem;
}
.app__aboutus-content-about h1{
    font-size: 30px;
    font-family: var(--font-base);
    flex-direction: column;
    color: #dcca87;
}
.app__aboutus-content-about img{
    width: 10%;
    justify-content: center;
    align-content: center;
    height: 60px;
    margin: 2rem;
}
.app__aboutus-content-about p{
    font-size: 20px;
    font-family: var(--font-base);
    color: var(--color-white);
    line-height: 60px;
}
.app__aboutus-content-about button{
    flex-direction: column;
    display: flex;
    padding: 1rem 2rem;
    color: var(--color-black);
    text-align: center;
    width: 35%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #dcca87;
    font-size: 16px;
    font-weight: bold;
}
.app__aboutus-content__knife {
    align-items: center;
    justify-content: center;
   
}
.app__aboutus-content__knife img{
    width: 100%;
    height: 390px;
}
.app__aboutus-content-history{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 3rem;
}
.app__aboutus-content-history h1{
    font-size: 30px;
    font-family: var(--font-base);
    flex-direction: column;
    color: #dcca87;
}
.app__aboutus-content-history img{
    width: 10%;
    justify-content: center;
    align-content: center;
    height: 60px;
    margin: 2rem;
}
.app__aboutus-content-history p{
    color: var(--color-white);
    line-height: 60px;
    font-size: 20px;
    font-family: var(--font-base);
}
.app__aboutus-content-history button{
    flex-direction: column;
    display: flex;
    padding: 1rem 2rem;
    color: var(--color-black);
    text-align: center;
    width: 35%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #dcca87;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width:1050px) {
 .app__aboutus-content-history p{
    line-height: 55px;
 } 
 .app__aboutus-content-about p{
    line-height: 55px;
 }  
 .app__aboutus-content-about button, .app__aboutus-content-history button{
    width: 60%;
 }
}
@media screen and (max-width:650px){
    .app__aboutus-overlay{
        flex-direction: column;
        padding: 20px 20px;
        margin-right: -0.7rem;
    }
    .app__aboutus{
        display: flex;
        flex-direction: column;
        /* margin-right: -0.7rem; */
        width: 100%;
        padding: 0rem 0rem;
    }
    .app__aboutus-content-about p, .app__aboutus-content-history p{
        font-size: 15px;
        line-height: 35px;
        /* margin-right: -0.7; */
        text-align: left;
        width: 100%;
        padding-left: 0;
        padding-right: 0.2rem;
        margin-left: -3rem;
    }
    .app__aboutus-content-about h1, .app__aboutus-content-history h1{
        font-size: 23px;
        text-align: left;
    }
    .app__aboutus-content__knife img{
        width: 90%;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .app__aboutus-content-history button, .app__aboutus-content-about button{
        padding: 1rem;
        width: 55%;
        text-align: center;
        align-items: center;
        margin: 20px 8px;
    }
}